:root {
  font-size: 16px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  min-height: 100vh;
  color: #ececec;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

p {
  font-size: 1rem;
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0px 1rem;
  height: 100%;
  cursor: pointer;
}

a:hover {
  color: rgb(223, 147, 255);
}

.f-fd-row {
  display: flex;
}

.f-fd-col {
  display: flex;
  flex-direction: column;
}

.f-jc-center {
  display: flex;
  justify-content: center;
}

.f-ai-center {
  display: flex;
  align-items: center;
}

.f-jc-between {
  display: flex;
  justify-content: space-between;
}

section {
  display: grid;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 24px;
  justify-content: left;
}

/* nav */

nav {
  height: 4rem;
  margin-top: -80px;
  background: transparent;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  flex: 1;
  max-width: 100%;
  flex-basis: 33%;
}

.nav-left {
  padding-left: 4rem;
  align-items: center;
  justify-content: center;
}

.nav-center {
  justify-content: center;
}

.navbar {
  display: inline-flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline;
  list-style-type: none;
  height: 80px;
  padding-right: 5px;
}

.nav-title {
  color: rgb(223, 147, 255);
}

.active {
  border-bottom: 3px solid rgb(108, 99, 255);
}

.left-positioning {
  margin-left: 10rem;
}

/* home */

.home {
  background: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow: hidden;
}
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(35, 42, 52);
  opacity: 0.3;
}
.hero-content {
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.hero-container h5 {
  font-size: 1.15rem;
  font-weight: 300;
  margin-top: 1rem;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  margin-top: -0.5rem;
}

.hero-button {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(-45deg, rgb(192, 68, 255), rgb(78, 67, 255));
  filter: drop-shadow(0 0 8px #6b54ff48);
  background-size: 150% 150%;
  white-space: nowrap;
  padding: 12px 30px;
  margin-top: 2rem;
  color: rgb(196, 196, 196);
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: background-position 0.3s ease-in-out;
}

.hero-button:hover {
  background-position: 100% 0;
  filter: drop-shadow(0 0 8px #6b54ff71);
}

#home img {
  width: 270px;
}

/* about */

#about {
  color: rgb(20, 20, 20);
}

#about img {
  width: 350px;
}

#about p {
  max-width: 540px;
  padding-top: 0px;
  padding-bottom: 60px;
}

/* portfolio */

#portfolio {
  padding-top: 9rem;
  background: rgb(20, 20, 20);
}

#portfolio img {
  width: 500px;
}

#portfolio h2 {
  font-size: 3rem;
}

#projects {
  gap: 1rem;
}

.project {
  background: rgb(255, 255, 255);
  height: 300px;
  width: 285px;
  border-radius: 10px;
  max-height: 340px;
  padding: 30px;
  text-align: center;
}

/* contact */

#contact {
  color: rgb(20, 20, 20);
}

#contact img {
  width: 350px;
}

/* footer */

footer {
  padding: 2rem 0;
  background-color: rgb(16, 21, 34);
}

footer h5 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

footer p {
  font-size: 0.85rem;
  font-weight: 300;
}
